# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## ***Objectives:***
* Popular languages for Data Science Python, R, C++
* Some of the commonly used libraries include Pandas, MatPlotLib, NumPy
* Features of Jupiter Notebooks

## Some of the popular languages that Data Scientists use are:
## 1. Python
## 2. R
## 3. C++

## Some of the commonly used libraries used by Data Scientists include:
## 1. Pandas
## 2. NumPy
## 3. Matplotlib

| Data Science Tools | 
| -------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

### Number of hours = 200/60
### This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Adamada Joel